/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --gray1: #666;
  --red1: #f72210;
}

/* footer */

.footer_logo {
  height: 2.3rem;
  width: 14.8rem;
}

.copyright {
  color: var(--gray1);
  font-size: 0.75rem;
}

.fa-copyright {
  font-size: 0.6rem;
}

.social {
  color: var(--gray1);
}

.facebook_anchor {
  font-size: 1.6rem;
}

.facebook_anchor:hover {
  color: #3b5998;
}

.twitter_anchor {
  font-size: 1.5rem;
}

.twitter_anchor:hover {
  color: #1da1f2;
}

.instagram_anchor {
  font-size: 1.6rem;
}

.instagram_anchor:hover {
  color: #405de6;
}

.tumblr_anchor {
  font-size: 1.3rem;
}

.tumblr_anchor:hover {
  color: #35465c;
}

.linkedin_anchor {
  font-size: 1.4rem;
}

.linkedin_anchor:hover {
  color: #0077b5;
}

.footer_strong {
  color: var(--gray1);
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.1rem;
}

.footer_anchor {
  color: var(--gray1);
}

.footer_anchor:hover {
  color: black;
  text-decoration: none;
}

/* media queries */

@media (max-width: 768px) {
  .footer_anchor {
    border: none !important;
  }
}
